<mat-card>
    <mat-card-content>
        <form [formGroup]="form">
            <mat-card-title class="titulo">Editar Seguro</mat-card-title>
            <div class="row contenedor-row">
                <div class="col-sm-12">

                    <label class="etiqueta"> Nombre </label>
                    <input type="text" [(ngModel)]="nombre" autocapitalize="sentences" formControlName="nombre"
                        class="form-control " name="nombre">


                    <div class="col-sm-12">

                        <label class="etiqueta">Prima </label>
                        <input type="text" [(ngModel)]="prima" autocapitalize="sentences" formControlName="prima"
                            class="form-control " name="prima">

                    </div>

                    <div class="col-sm-12">
                        <label class="etiqueta">Suma Asegurada</label>
                        <input type="text" [(ngModel)]="suma_asegurada" autocapitalize="sentences"
                            formControlName="suma_asegurada" class="form-control " name="suma_asegurada">
                    </div>
                </div>
            </div>

            <div class="contenedor-botones">

                <!--  <button *ngIf="hide2" [ngClass]="{'button': true, 'is-success': true, 'is-large': true}"
                    class="boton-Opciones button-editar" mat-flat-button type="submit" (click)="HabilitarInput()"
                    color="primary">
                    Verificar
                </button> [disabled]="!form.valid" -->
                <button class="boton-Opciones button-guardar" mat-flat-button (click)=UpdateDatos() type="submit"
                    color="primary">
                    Actualizar
                </button>

            </div>
        </form>

    </mat-card-content>
</mat-card>
